# 依赖目录
node_modules/
vendor/

# 构建产物（如你把 js/dist 也当成“源码”就删掉这一行）
js/dist/

# 编辑器 / 系统垃圾
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 日志 & 锁文件（只保留 composer.lock，去掉 package 锁）
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# 可选：本地测试用的配置文件
.env
.flarum-cache/
